In [2]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [3]:
"""
To make the request to the page we have to inform the
website that we are a browser and that is why we
use the headers variable
"""
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36'}

# endereco_da_pagina stands for the data page address
endereco_da_pagina = "https://www.transfermarkt.com.br/america-mineiro/startseite/verein/2863?saison_id=2021"

# In the objeto_response variable we will the download of the web page
objeto_response = requests.get(endereco_da_pagina, headers=headers)

"""
Now we will create a BeautifulSoup object from our object_response.
The 'html.parser' parameter represents which parser we will use when creating our object,
a parser is a software responsible for converting an entry to a data structure.
"""
pagina_bs = BeautifulSoup(objeto_response.content, 'html.parser')

In [18]:
nomes_jog = [] # List that will receive all the players names
posicoes_jog = []
nacionalidade_jog = []

# The find_all () method is able to return all tags that meet restrictions within parentheses
tags_jogadores = pagina_bs.find_all("span", {"class": "show-for-small"})
# In our case, we are finding all anchors with the class "spielprofil_tooltip"

# Now we will get only the names of all players
for tag_jogador in tags_jogadores:
    nomes_jog.append(tag_jogador.text)

In [19]:
print(nomes_jog)

['Jori', 'Airton', 'Matheus Cavichioli', 'Robson', 'G. Conti', 'Iago Maidana', 'Éder', 'Luan Patrick', 'Ricardo Silva', 'Marlon Lopes', 'Danilo Avelar', 'João Paulo', 'Patric', 'R. Cáceres', 'Zé Ricardo', 'Lucas Kal', 'Juninho', 'Flávio', 'Juninho Valoura', 'Gustavinho', 'M. Benítez', 'J. Ramírez', 'Matheusinho', 'Alê', 'E. Martínez', 'Everaldo', 'Felipe Azevedo', 'Carlos Alberto', 'G. Mastriani', 'Henrique Almeida', 'Wellington Paulista', 'Aloísio']

In [22]:
df = pd.read_csv("data/fm_2022.csv")#.drop(columns = 'Unnamed: 0')
print(df.shape)
df.head()

(1122, 45)

,Unnamed: 0,Name,Apps,Mins,Mins/Gm,Height,Weight,Age,Av Rat,Gls,...,Off,Based,Tck R,CA,Saves,Saves/xSv%,Gls/xG,Dist/Mins,Transfer Value,Value
0,0,Josip Mijatović,12.0,809.0,67.416667,173.0,68.0,20,7.14,1.0,...,0.0,Croatia (3. HNL Zapad),0.88,84,0.0,0.0,5.555556,0.126823,€3K - €9K,6000.0
1,1,Duje Ninčević,15.0,1161.0,77.400000,172.0,69.0,25,6.84,0.0,...,0.0,Croatia (3. HNL Jug),0.76,79,0.0,0.0,0.000000,0.129457,€0 - €2.5K,1250.0
2,2,Marin Karabatić,15.0,1350.0,90.000000,170.0,62.0,22,6.90,0.0,...,0.0,Croatia (3. HNL Jug),0.77,87,0.0,0.0,0.000000,0.128000,€0 - €12K,6000.0
3,3,Vicko Ševelj,20.0,1738.0,86.900000,192.0,86.0,22,7.15,1.0,...,1.0,Bosnia & Herzegovina (Liga 12),0.88,95,0.0,0.0,2.380952,0.058631,€100K - €1M,550000.0
4,4,Fran Vujnović,15.0,1384.0,92.266667,190.0,77.0,19,7.23,4.0,...,0.0,Croatia (3. HNL Istok),0.93,83,0.0,0.0,0.000000,0.016040,€14K - €150K,82000.0

In [23]:
df.columns

Index(['Unnamed: 0', 'Name', 'Apps', 'Mins', 'Mins/Gm', 'Height', 'Weight',
       'Age', 'Av Rat', 'Gls', 'Gls/90', 'Shot %', 'Pen/R', 'xG', 'Ch C/90',
       'Asts/90', 'K Ps/90', 'Pas %', 'Cr C/A', 'Drb/90', 'Distance', 'Hdr %',
       'K Tck', 'Fls', 'Int/90', 'Clear', 'Con/90', 'xSv %', 'Sv %', 'Svh',
       'Svt', 'Svp', 'Pens Saved Ratio', 'PoM', 'Aer A/90', 'Off', 'Based',
       'Tck R', 'CA', 'Saves', 'Saves/xSv%', 'Gls/xG', 'Dist/Mins',
       'Transfer Value', 'Value'],
      dtype='object')

In [24]:
df[df['Name'] == 'Sergio Ramos']

,Unnamed: 0,Name,Apps,Mins,Mins/Gm,Height,Weight,Age,Av Rat,Gls,...,Off,Based,Tck R,CA,Saves,Saves/xSv%,Gls/xG,Dist/Mins,Transfer Value,Value
1117,1117,Sergio Ramos,11.0,924.0,84.0,184.0,82.0,36,7.15,0.0,...,0.0,France (Ligue 1),0.74,156,0.0,0.0,0.0,0.123268,€12M - €18M,15000000.0